[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
starlette = "*"
fastapi = "*"
uvicorn = "*"

[requires]
python_version = "3.7"

[scripts]
server = "uvicorn main:app --reload"
