[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
starlette = "*"
fastapi = "*"
uvicorn = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pillow = "*"
jinja2 = "*"
aiofiles = "*"
spacy = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"

[scripts]
server = "uvicorn main:app --reload"
lint = "flake8 main.py lib"
test = "python -m unittest discover __tests__"
model_en = "python -m spacy download en_core_web_sm"
quickcheck = "python scripts/check_spacy.py"
