[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
starlette = "*"
fastapi = "*"
uvicorn = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pillow = "*"
jinja2 = "*"
aiofiles = "*"

[requires]
python_version = "3.7"

[scripts]
server = "uvicorn main:app --reload"
lint = "flake8 main.py"
